

         body {
      font-family: "Poppins", sans-serif;
      background: linear-gradient(135deg, #2b5876, #4e4376);
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .container {
      background: rgb(80, 150, 48);
      padding: 25px;
      border-radius: 20px;
      width: 320px;
      text-align: center;
      box-shadow: 0 4px 15px rgb(255, 255, 255);
    }

    h1 {
      margin-bottom: 15px;
      font-size: 24px;
    }

    input {
      padding: 8px;
      width: 80%;
      border: none;
      border-radius: 5px;
      margin: 8px 0;
      font-size: 16px;
    }

    button {
      background-color: #00c3ff;
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      transition: 0.3s;
    }

    button:hover {
      background-color: #008fd1;
    }

    .result {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }